@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&family=Source+Serif+4:ital,opsz@0,10;1,10&display=swap");

@import "tailwindcss";

/* not using fancy stuff at the moment, don't bloat css */
@source not "src/fancy*.rs";

/* tailwind v4 changed how `hover:` works, now it uses:
```
  &:hover {
     @media (hover: hover) {
        ...
      }
  }
```
  Laptops with touchscreens (and Safari Tech Preview on my Macbook Pro!)
  do not support whatever feature "media (hover: hover)" selects for.

  Reset to original v3 behaviour: */
@custom-variant hover {
  &:hover {
    @slot;
  }
}

@theme static {
  --font-sans: initial;
  --font-serif: "Source Serif 4", ui-serif, serif;
  --font-mono: "Source Code Pro", ui-monospace, monospace;
  --default-font-family: var(--font-serif);

  /* use hairlines where possible */
  --default-border-width: 0.5px;

  /*                                     fib(0) =  0.5
  (memorable golden ratio scaling)       fib(1) =  1
  (close powers of phi are .618)    0.5  + 1    =  1.5
    phi^-1 = 0.618                  1    + 1.5  =  2.5
    phi^0  = 1                      1.5  + 2.5  =  4
    phi^1  = 1.618                  2.5  + 4    =  6.5
    phi^2  = 2.618                  4    + 6.5  = 10.5
  (extended golden ratio scaling)   6.5  + 10.5 = 17
  (follows fibonacci from 0.5, 1)   10.5 + 17   = 27.5
  */

  /* pow(phi, -4) = 0.146rem =   2.335px ~~  2px = --spacing(0.5)  */
  /* pow(phi, -3) = 0.236rem =   3.777px ~~  4px = --spacing(1)    */
  /* pow(phi, -2) = 0.382rem =   6.111px ~~  6px = --spacing(1.5)  */
  /* pow(phi, -1) = 0.618rem =   9.888px ~~ 10px = --spacing(2.5)  */
  /* pow(phi,  0) = 1.000rem =  16.000px == 16px = --spacing(4)    */
  /* pow(phi,  1) = 1.618rem =  25.888px ~~ 26px = --spacing(6.5)  */
  /* pow(phi,  2) = 2.618rem =  41.888px ~~ 42px = --spacing(10.5) */
  /* pow(phi,  3) = 4.236rem =  67.777px ~~ 68px = --spacing(17)   */
  /* pow(phi,  4) = 6.854rem = 109.656px ~~ 68px = --spacing(17)   */

  /* alternative "short-scales" proposals to disambiguate size and spacing
        xvnr | "extra very near"
   xs |  vnr | "very near"
   sm |   nr | "near"
   md |    r | "reasonable" / "regular"
   lg |   fr | "far"
   xl |  vfr | "very far"
  2xl | xvfr | "extra very far"
  */

  --spacing-xxvnr: --spacing(0.5);
  --spacing-xvnr: --spacing(1);
  --spacing-vnr: --spacing(1.5);
  --spacing-nr: --spacing(2.5);
  --spacing-r: --spacing(4);
  --spacing-fr: --spacing(6.5);
  --spacing-vfr: --spacing(10.5);
  --spacing-xvfr: --spacing(17);
  --spacing-xxvfr: --spacing(27.5);

  --radius-*: initial;
  --radius-xs: --spacing(1.5);
  --radius-sm: --spacing(2.5);
  --radius-md: --spacing(4);
  --radius-lg: --spacing(6.5);
  --radius-xl: --spacing(10.5);

  /* optical correction value (use `mt-`, `mb-`, `my-`) */
  --spacing-rounded-correct: calc(-1 * ((1lh - 1em) / 2));

  --color-*: initial;
  /*
  Based on https://zed-themes.com/themes/srcery
  Converted with https://oklch.com
  */
  --color-dim-blue: oklch(0.5613 0.1325 250.26);
  --color-blue: oklch(0.7129 0.1102 248.12);

  --color-dim-cyan: oklch(0.6822 0.1148 198.48);
  --color-cyan: oklch(0.903 0.1403 183.78);

  --color-dim-red: oklch(0.617 0.2266 28.52);
  --color-red: oklch(0.6646 0.2031 29.68);

  --color-dim-magenta: oklch(0.6004 0.2155 5.8);
  --color-magenta: oklch(0.7021 0.201 4.66);

  --color-dim-green: oklch(0.6335 0.1375 143.5);
  --color-green: oklch(0.7438 0.1612 123.58);

  --color-dim-yellow: oklch(0.8238 0.161 80.3);
  --color-yellow: oklch(0.8783 0.1273 84.48);

  --color-white: oklch(0.9378 0.0158 82.88);
  --color-dim-white: oklch(0.811 0.0449 81.83);
  --color-grey: oklch(0.5908 0.031 81.37);
  --color-dim-grey: oklch(0.3975 0.0158 55.89);
  --color-black: oklch(0.2225 0.0041 84.59);
}

@layer base {
  body {
    font-optical-sizing: none;
    font-variation-settings: "opsz" 10;
  }

  a {
    cursor: pointer;

    color: var(--color-dim-blue);
    &:visited {
      color: var(--color-dim-magenta);
    }

    text-decoration-line: underline;
    text-decoration-thickness: calc(1em / 17);
    &:hover {
      text-decoration-thickness: calc(2em / 17);
      text-underline-offset: calc(2em / 17);
    }
    text-underline-offset: calc(3em / 17);
  }
}
