@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&family=Source+Serif+4:ital,opsz@0,10;1,10&display=swap");

@import "tailwindcss";

/* tailwind v4 changed how `hover:` works, now it uses:
```
  &:hover {
     @media (hover: hover) {
        ...
      }
  }
```
  Laptops with touchscreens (and Safari Tech Preview on my Macbook Pro!)
  do not support whatever feature "media (hover: hover)" selects for.

  Reset to original v3 behaviour: */
@custom-variant hover (&:hover);

@theme {
  --font-sans: initial;
  --font-serif: "Source Serif 4", ui-serif, serif;
  --font-mono: "Source Code Pro", ui-monospace, monospace;
  --default-font-family: --font-serif;

  /* shift font size smaller,
     but don't alter the value of 1rem
  */

  /* tailwind's original `text-xs`: */
  --text-sm: 0.75rem;
  --text-sm--line-height: calc(1 / 0.75);
  /* tailwind's original `text-sm`: */
  --text-base: 0.875rem;
  --text-base--line-height: calc(1.25 / 0.875);
  /* tailwind's original `text-base`: */
  --text-md: 1rem;
  --text-md--line-height: calc(1.5 / 1);

  /* use hairlines where possible */
  --default-border-width: 0.5px;

  /* optical correction value (use `mt-`, `mb-`, `my-`) */
  --spacing-rounded-correct: calc(-1 * ((1lh - 1em) / 2));

  /* memorable golden ratio scaling   */
  --spacing-1g: 0.618rem; /* ~= phi^-1 */
  --spacing-2g: 1rem; /*      = phi^0  */
  --spacing-3g: 1.618rem; /*  = phi^1  */
  --spacing-4g: 2.618rem; /* ~= phi^2  */

  --radius-1g: 0.618rem;
  --radius-2g: 1rem;
  --radius-3g: 1.618rem;
  --radius-4g: 2.618rem;

  --color-*: initial;
  /*
  Based on https://zed-themes.com/themes/srcery
  Converted with https://oklch.com
  */
  --color-dim-blue: oklch(0.5613 0.1325 250.26);
  --color-blue: oklch(0.7129 0.1102 248.12);

  --color-dim-cyan: oklch(0.6822 0.1148 198.48);
  --color-cyan: oklch(0.903 0.1403 183.78);

  --color-dim-red: oklch(0.617 0.2266 28.52);
  --color-red: oklch(0.6646 0.2031 29.68);

  --color-dim-magenta: oklch(0.6004 0.2155 5.8);
  --color-magenta: oklch(0.7021 0.201 4.66);

  --color-dim-green: oklch(0.6335 0.1375 143.5);
  --color-green: oklch(0.7438 0.1612 123.58);

  --color-dim-yellow: oklch(0.8238 0.161 80.3);
  --color-yellow: oklch(0.8783 0.1273 84.48);

  --color-white: oklch(0.9378 0.0158 82.88);
  --color-dim-white: oklch(0.811 0.0449 81.83);
  --color-grey: oklch(0.5908 0.031 81.37);
  --color-dim-grey: oklch(0.3975 0.0158 55.89);
  --color-black: oklch(0.2225 0.0041 84.59);

  /* had to look pretty far to find words
     for foreground and background that
     aren't already overloaded in context
  */
  --color-afore: var(--color-white);
  --color-dim-afore: var(--color-dim-white);
  --color-dim-abaft: var(--color-dim-grey);
  --color-abaft: var(--color-black);
}

@layer base {
  body {
    font-optical-sizing: none;
    font-variation-settings: "opsz" 10;
  }

  a {
    cursor: pointer;
    color: var(--color-dim-blue);

    text-decoration-line: underline;
    text-decoration-thickness: calc(1em / 17);
    text-underline-offset: calc(3em / 17);
  }

  a:visited {
    color: var(--color-dim-magenta);
  }

  a:hover {
    text-decoration-thickness: calc(2em / 17);
    text-underline-offset: calc(2em / 17);
  }
}
