@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&family=Source+Serif+4:ital,opsz@0,10;1,10&display=swap");

@import "tailwindcss";

@theme {
  --font-serif: "Source Serif 4", ui-serif, serif;
  --font-mono: "Source Code Pro", ui-monospace, monospace;
  /*
  Based on https://zed-themes.com/themes/srcery
  Converted with https://oklch.com
  */
  --color-src-300: oklch(0.2225 0.0041 84.59);
  --color-src-350: oklch(0.3975 0.0158 55.89);

  --color-src-600: oklch(0.5908 0.031 81.37);
  --color-src-650: oklch(0.6143 0.0264 59.13);

  --color-src-800: oklch(0.811 0.0449 81.83);

  /*color-src-900: oklch(0.9378 0.0529 82.88); too yellow for a background, use smaller chroma */
  /*color-src-900: oklch(0.9378 0.0158 82.88); still too yellow */
  --color-src-900: oklch(0.9378 0.0041 82.88);

  --color-src-blue-500: oklch(0.5613 0.1325 250.26);
  --color-src-blue-700: oklch(0.7129 0.1102 248.12);
  --color-src-blue-800: oklch(0.7705 0.0326 216.89);

  --color-src-cyan-500: oklch(0.6822 0.1148 198.48);
  --color-src-cyan-700: oklch(0.903 0.1403 183.78);

  --color-src-red-500: oklch(0.617 0.2266 28.52);
  --color-src-red-700: oklch(0.6646 0.2031 29.68);

  --color-src-green-500: oklch(0.6335 0.1375 143.5);
  --color-src-green-700: oklch(0.7438 0.1612 123.58);

  --color-src-yellow-500: oklch(0.8238 0.161 80.3);
  --color-src-yellow-700: oklch(0.8783 0.1273 84.48);
}

@layer base {
  body {
    font-optical-sizing: none;
    font-variation-settings: "opsz" 10;
  }

  a {
    color: var(--color-src-blue-500);
    text-decoration-line: underline;
    text-decoration-thickness: calc(1em / 17);
  }

  a:hover {
    text-decoration-thickness: calc(2em / 17);
  }

  a {
    text-underline-offset: calc(3em / 17);
  }
}
