@layer [hidden]:where(:not([hidden="until-found"])) {
  .self-center {
    align-self: center;
  }
}
@layer [hidden]:where(:not([hidden="until-found"])) {
  .justify-center {
    justify-content: center;
  }
}
@layer [hidden]:where(:not([hidden="until-found"])) {
  .snap-center {
    scroll-snap-align: center;
  }
}
@layer [hidden]:where(:not([hidden="until-found"])) {
  .font-serif {
    font-family: var(--font-serif);
  }
}
@layer [hidden]:where(:not([hidden="until-found"])) {
  .py-3 {
    padding-block: var(--spacing-3);
  }
}
@layer [hidden]:where(:not([hidden="until-found"])) {
  .to-80\% {
    --tw-gradient-to-position: 80%;
  }
}
@layer [hidden]:where(:not([hidden="until-found"])) {
  .bg-\[rgba\(250\,250\,250\,0\.7\)\] {
    background-color: rgba(250, 250, 250, 0.7);
  }
}
